<!--
  Generated template for the ArticlePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Articulo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding *ngFor="let item of article">
<h3>{{item.title}}</h3>
<h4>{{item.headlines}}</h4>
{{item.content}}
</ion-content>
