<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <img src="img/gazeta-svg/gz-ccs-economia.svg">
  <button secondary clear style="float: right;">
    <ion-icon name="search"></ion-icon>
  </button>
  </ion-navbar>
</ion-header>


<ion-content padding class="economia" >
<div *ngFor="let recent of article">

<box [article]='recent'></box>
</div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="-5px">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
