<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>#{{hashtag}}</ion-title>
  <button secondary clear style="float: right;">
    <ion-icon name="search"></ion-icon>
  </button>
  </ion-navbar>
</ion-header>

<ion-content padding class="tag" >
<div *ngFor="let recent of article">
  <box [article]='recent'></box>
</div>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="-5px" >
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
