.tag-gz {
    color:#f1f1f1;
    margin-left: 3px;
    font-weight: normal;
    display: inline-block;
    background-color: #aaaaaa;
    display: inline;
    padding: .2em .6em .3em;
    font-size: 100%;
    color: #aaaaaa;
    border-radius: .25em;
    font-weight: 700;
    line-height: 1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
}
.tag-gz a{
    color:#f1f1f1;
    text-decoration: none;

}
.card-tags, ion-card-title, .card-category{
  padding-left: 16px!important;
  padding-right: 16px!important;
}
