<ion-card>
  <ion-item>
     <ion-avatar item-left>
       <img src="{{article.user.image}}">
     </ion-avatar>
     <h2>{{article.user.displayName}}</h2>
     <p>{{article.published_date | date:'dd MMM yyyy h:mm a'}}</p>
   </ion-item>

<h2 class='card-category'>    - {{option[article.category].label}}</h2>
    <img src="{{article.images.url_720}}">
  <div (click)="doClickCard(article)" tappable>
    <ion-card-title>
      {{article.title}}
    </ion-card-title>
  </div>
    <div class="card-tags">
      <span class="label label-default tag-gz sp" *ngFor="let tag of article.tags">
        <a (click)="tagClick(tag.label)">{{tag.label}}</a>
      </span>
    </div>
    <ion-card-content>
    {{article.resume}}
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button primary clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{article.like}} Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button primary clear small (click)="articleShare(article.slug,article.published_date)">
          <ion-icon name="share"></ion-icon>
          <div>SHARE</div>
        </button>
      </ion-col>
      <ion-col center text-right>
        <ion-note>
          Hace 11 h
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>
